@charset "UTF-8";

:root{
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --accent-color: #006aff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

nav{
    display: flex;
    justify-content: end;
    align-items: center;

    background-color: var(--color-1);
    height: 60px;
}

nav a{
    display: flex;
    align-items: center;

    color: var(--text-color);
    text-decoration: none;
    padding: 0 20px;
    height: 100%;
}

nav a:hover{
    background-color: var(--accent-color);
    transition: .5s ease-in-out;
}

.links-container{
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;
}

#sidebar-active, .open-close_button{
    display: none;
}

.home-link{
    margin-right: auto;
}

@media (max-width: 450px){
    .links-container{
        display: none;
        flex-flow: column nowrap;
        align-items: start;

        position: fixed;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.247);
        top: 0;
        right: 0;
        width: 80%;
        z-index: 10;
    }

    nav a{
        padding: 20px 30px;
        height: auto;
    }

    #sidebar-active, .open-close_button{
        margin: 20px 0 10px 20px;
        display: block;
    }

    #sidebar-active:active ~ .links-container{
        display: flex;
    }
}