header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--background-tertiary-color);
    padding: 37px 48px;
    height: 138px;
    width: 100%;
}

#header__images img:last-child{
    display: none;
}

header > a > img{
    height: 64px;
    width: 68px;
    transition: 200ms;
    cursor: pointer;
}

header img:hover{
    scale: 1.1;
}

header input[type="checkbox"]{
    display: none;
}

header nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--background-quaternary-color);
    box-shadow: -4px -1px 7px 5px #0000005b;
    font-size: 1.75rem;
    padding: 30px 40px;
    height: 100vh;
    max-width: 500px;
    width: 50vw;
    transition: 500ms;
    z-index: 10;
}

#idOverlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}

header nav img{
    width: 35px;
    transition: 200ms;
    cursor: pointer;
}

header ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style-type: none;
}

header ul a{
    color: var(--text-secondary-color);
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: bold;
    transition: 200ms;
}

header ul a:hover{
    color: var(--primary-color);
}