@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-tertiary-color: #000000;
    --background-quaternary-color: #131313;
    
    --primary-color: #8F0101;
    --secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;
    --text-secondary-color-hover: #a8a8a8;

    --text-font: "Montserrat", sans-serif;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}