@media screen and (min-width: 0) {
    #idMenu:checked ~ nav{
        right: 0;
    }

    #idMenu:checked ~ #idOverlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 9;
    }
}

@media screen and (min-width: 768px) {
    header label{
        display: none;
    }

    header nav{
        align-items: center;
        justify-content: center;
        position: static;
        background-color: transparent;
        padding: 0;
        height: 100%;
        min-width: max-content;
    }

    header nav ul{
        flex-direction: row;
        gap: 50px;
        width: 100%;
    }
}