@media screen and (min-width: 0) {
    #idMenu:checked ~ nav{
        right: 0;
    }

    #idMenu:checked ~ #idOverlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 9;
    }
}