@import url(global.css);

@import url(header.css);
@import url(hero.css);
@import url(offers.css);
@import url(categories.css);
@import url(popular-places.css);
@import url(payment-conditions.css);
@import url(depoiments.css);
@import url(footer.css);

<<<<<<< Updated upstream
@import url(mq.css);
=======
body{
    height: 100vh;
}

main{
    margin-top: 138px;
    height: 100%;
    width: 100%;
}
>>>>>>> Stashed changes
