*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(13, 13, 20);
    color: white;
}

h1{
    margin: 30px 0;
}

#box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    gap: 15px;
    justify-content: center;

    margin: 0 30px;
}

.box{
    background-color: #222429;
    border: 1px solid rgb(75, 82, 92);
    border-radius: 10px;
    padding: min(50px, 7%);
}

.box > h2{
    margin-bottom: 10px;
}