@charset "UTF-8";

.container{
    display: grid;
    grid-template: repeat(3, 50px) / repeat(4, 1fr);
    gap: 5px;
}

.caixa{
    text-align: center;
}

.caixa1{
    background-color: green;
    grid-area: 1 / 1 / 2 / -1;

    /*Grid-Area: Row-Start / Column-Start / Row-End / Column-End*/
}

.caixa2{
    background-color: yellow;
    grid-area: 2 / 1 / -1 / 3;

    /*Grid-Area: Row-Start / Column-Start / Row-End / Column-End*/
}

.caixa3{
    background-color: purple;
    grid-area: 2 / 3 / -1 / -1;

    /*Grid-Area: Row-Start / Column-Start / Row-End / Column-End*/
}