@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --accent-color: #006aff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Josefin Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

header{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--color-1);
    height: 60px;
}

nav, .links_container{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
}

#sidebar-active , .label-menu{
    display: none;
    padding: 20px;
}

nav a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    height: 100%;
}

nav a:hover{
    background-color: var(--accent-color);
}

.home-link{
    margin-right: auto;
}

@media(max-width: 450px){
    .label-menu{
        display: block;
    }

    #sidebar-active:checked ~ .links_container{
        display: flex;
        right: 0;
        transition: .5s ease-in-out;
    }

    #sidebar-active:checked ~ #overlay-menu{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9;
    }

    #sidebar-active:not(:checked) ~ .links_container{
        transition: .5s ease-in-out;
    }

    .links_container{
        flex-flow: column;
        justify-content: start;
        align-items: start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;

        background-color: var(--color-1);
        height: 100%;
        width: 80%;
    }

    nav a{
        padding: 20px;
        height: auto;
        width: 100%;
    }
}