@font-face {
    font-family: "Unbounded";
    src: url(fonts/Unbounded-Bold.ttf)
    format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.ttf)
    format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-purple: #9747FF;
    --hover-purple: #8233E8;

    --text-light: #F5F5F5;
    --text-dark: #232323;

    --background-dark: #0E1014;
    --background-light: #FFFFFF;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-dark);
    color: var(--text-light);
    font-family: "Poppins", arial, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 0 20px;
}

/*---header---*/

header{
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
    max-width: 100%;
    width: 1160px;
}

/*---main---*/

main, section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 100%;
    width: 792px;
}

h1{
    font-size: 64px;
    font-weight: bold;
    font-family: "Unbounded";
    line-height: 1.35em;
}

h1 > span{
    color: var(--primary-purple);
}

a{
    background-color: var(--primary-purple);
    color: var(--text-light);
    border-radius: 36px;
    text-decoration: none;
    padding: 24px 48px;
    width: max-content;
    transition: 200ms;
}

a:hover{
    background-color: var(--hover-purple);
}

section img{
    width: 100%;
}

#image-small{
    display: none;
}