*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --title-text: "Fjalla One", sans-serif;
    --text: "Work Sans", sans-serif;
}

body{
    padding: 25px;
    font-family: var(--text);
}

header{
    text-align: center;
}

h1{
    font-family: var(--title-text);
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 15px;
}

legend{
    font-family: var(--title-text);
}

p, label, input{
    font-family: var(--text);
}

form{
    display: flex;
    flex-direction: column;   
    gap: 10px;
}

input{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.548);
    padding: 5px;
    width: 100%;
    transition: 150ms;
}

.form__inputs{
    display: flex;
    gap: 10px;
    width: 500px;
}

.form__inputs label{
    width: 100px;
}

#form__inputs{
    display: flex;
    flex-direction: column;
}

#form__inputs label{
    width: max-content;
}

.form__inputs__gender > input[type="radio"]{
    margin-right: 10px;
    width: max-content;
}

.form__inputs__gender{
    display: flex;
    margin-left: 10px;
}

#form__inputs__social-midia-container{
    display: flex;
    flex-direction: column;
}

.form__inputs__social-midia-content > input{
    width: max-content;
    margin: 0 5px 0 10px;
}

#satisfactionLevel-container{
    display: flex;
    flex-direction: column;
}

#satisfactionLevel-container input{
    margin: 0 5px 0 10px;
    width: max-content;
}

#form__inputs-lgpd-container{
    display: flex;
    flex-direction: column;
}

.form__inputs-lgpd-content{
    display: flex;
}

.form__inputs-lgpd-content input{
    margin: 0 10px;
    width: 16px;
}

.form__inputs-lgpd-content label{
    width: max-content;
}

.send-clear{
    display: flex;
    gap: 10px;
    margin: auto;
    width: 200px;
}

.send-clear input[type="submit"]:hover{
    background-color: green;
    color: white;
}

.send-clear input[type="reset"]:hover{
    background-color: red;
    color: white;
}