*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;   
    gap: 10px;
}

input{
    width: 100%;
}

.form__inputs{
    display: flex;
    gap: 10px;
    width: 500px;
}

.form__inputs label{
    width: 100px;
}

section button{
    width: max-content;
}

#form__inputs{
    display: flex;
    flex-direction: column;
}

#form__inputs label{
    width: max-content;
}

.form__inputs__gender > input[type="radio"]{
    margin-right: 10px;
    width: max-content;
}

.form__inputs__gender{
    display: flex;
    margin-left: 10px;
}

#form__inputs__social-midia-container{
    display: flex;
    flex-direction: column;
}

.form__inputs__social-midia-content > input{
    width: max-content;
    margin: 0 5px 0 10px;
}

#satisfactionLevel-container{
    display: flex;
    flex-direction: column;
}

#satisfactionLevel-container input{
    margin: 0 10px;
    width: max-content;
}

 .satisfactionLevel-content{
    display: flex;

}