@charset "UTF-8";

:root{
    --accent-color: #d52c3a;
    --primary-color: #1B1C1F;
    --secondary-color: #101113;
    --text-color: #d9d9d9;
    --secondary-text-color: #7f8082;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    text-align: center;
    padding: 0px 20px;
}

.header-container > h1{
    font-size: 10vw;
    margin-top: 100px;
}

.header-container > h2{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3rem;
    margin: 20px 0px;
}

.header-container > p{
    color: var(--secondary-text-color);
    font-size: 1.1rem;
}

.header-container > a{
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 1.3rem;
    text-decoration: none;
    border: 0;
    border-radius: 50px;
    margin: 30px 0px;
    padding: 15px 30px;
    width: max-content;
    transition: .15s ease-in-out;
}

.header-container > a:hover{
    background-color: var(--secondary-color);
}

header > img{
    display: none;
}