@media(max-width: 700px){
    /*---header---*/

    header{
        padding: 30px;
    }

    #menu{
        display: block;
        cursor: pointer;
    }

    .header_links-container{
        flex-flow: column;
        position: fixed;
        top: 0;
        right: -100%;

        background-color: var(--color-4);
        padding: 30px 25px;
        height: 100%;
        width: 75%;
        z-index: 10;
        transition: .5s ease;
    }

    .header_links-container #close{
        display: block;
        cursor: pointer;
    }

    #menu-close-icons:checked ~ .header_links-container{
        right: 0;
    }

    #menu-close-icons:checked ~ #overlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;

        height: 100%;
        width: 100%;
        z-index: 9;
    }

    .header_container{
        flex-flow: column nowrap;
        text-align: center;
    }

    .header_buttons{
        flex-flow: column;
    }

    /*---section-about---*/

    #section-about{
        flex-flow: column nowrap;
        gap: 50px;
    }

    /*---my-work---*/

    .pictures-grid{
        display: flex;
        flex-flow: column nowrap;
    }
}